<div class="row">
    <div class="col-lg-12">
    <button id="refreshButton" class="btn btn-success" ng-click="refreshList()">Refresh</button>
    <button id="addButton" class="btn btn-success" ng-click="addService()">Add new service</button>
    <button id="deleteButton" class="btn btn-success" ng-click="deleteService()">Delete service</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
    <div ui-grid="servicesGridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-exporter ui-grid-importer class="servicesGrid"></div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <button id="clearFiltersButton" class="btn btn-success" ng-click="clearFilters()">Clear all filters</button>
        <button id="restoreColumnsButton" class="btn btn-success" ng-click="restoreColumns()" ng-show="false">Restore settings</button>
        <button id="saveSettingsButton" class="btn btn-success" ng-click="saveSettings()" ng-show="false">Save settings</button>
    </div>
</div>
