<div class="row">
    <span>
        Эта программа позволяет вести совместную работу со списками.
        Списки могут редактироватся, при этом изменения данных немедленно отображаются у всех пользователей.
        Списки можно фильтровать, сортировать, менять вид отображения.
        Фильтрация воспринимает пробел как "или", а восклицательный знак перед набором символов как "не".
        Данные можно экспортировать/импортировать в/из формат csv.
        Программа находится в разработке на стадии прототипа.
        Программа разработана с использованием технологий vertx.io angularjs mongodb
        Программа размещена на бесплатном сервере openshift.
        В качестве хранилища данных используется бесплатная mongodb nosql база от компании mongolabs.
        Все предложения и замечания направлять автору, по адресу ikotenko@neoflex.ru
        Эта программа является open source разработкой.
        Вы можете использовать эту программу на свой страх и риск,
        разработчик программы и компания "АО Неофлекс консалтинг" не несет никакой ответственности за любой ущерб причиненный по вине настоящей программы.
    </span>
</div>