<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    <span>
        <p>Эта программа позволяет вести совместную работу со списками.</p>
        <p>Списки могут редактироватся, при этом изменения данных немедленно отображаются у всех пользователей.</p>
        <p>Списки можно фильтровать, сортировать, менять вид отображения.</p>
        <p>Фильтрация воспринимает пробел как "или", а восклицательный знак перед набором символов как "не".</p>
        <p>Данные можно экспортировать/импортировать в/из формат csv.</p>
        <p>Программа находится в разработке на стадии прототипа.</p>
        <p>Программа разработана с использованием технологий vertx.io angularjs mongodb</p>
        <p>Программа размещена на бесплатном сервере openshift.</p>
        <p>В качестве хранилища данных используется бесплатная mongodb nosql база от компании mongolabs.</p>
        <p>Все предложения и замечания направлять автору, по адресу ikotenko@neoflex.ru</p>
        <p>Эта программа является open source разработкой.</p>
        <p>Вы можете использовать эту программу на свой страх и риск,
        разработчик программы и компания "АО Неофлекс консалтинг" не несет никакой ответственности за любой ущерб причиненный по вине настоящей программы.</p>
    </span>
    </div>
    <div class="col-lg-3"></div>
</div>